@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #1a1a1a;
  --background: #f5f0e1;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  hr {
    border-color: #8b7d6b;
  }

  ::selection {
    background-color: #d4c5a9;
    color: #1a1a1a;
  }
}
