@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #f5ebe0;
  --background: #1a1210;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
